
  @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Encode+Sans+Semi+Condensed:wght@300&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Poppins&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
body{
  background: #96e0e0;
  margin: 0;
  padding: 0;
}


